body{
    background-color: rgba(204, 204, 204, 0.68);
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}


a{
    text-decoration: none;
    list-style: none;
}


.section__title{
    color: #7C5FAB;
    font-size: 40px;
    width: 80%;
    text-align: center;
    border-collapse: collapse;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 30px;
}


.section__subtitle{
    padding-top: 10px;
    color: #7C5FAB;
    font-size: 20px;
    text-align: center;
    border-collapse: collapse;
    margin: 0 auto;
    padding-top: 10px;
}

.section__subtitle a{
    text-decoration: none;
    list-style: none;
    color: #7C5FAB;
    font-size: 20px;
    text-align: center;
    border-collapse: collapse;
    margin: 0 auto;
}

.section__subtitle:hover a{
    font-size: 22px;
}




/*LOGIN*/

.section__login {
    width: 100%;
    color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:0px;
    padding-top: 300px;
    padding-bottom: 300px;
}


.logo__picture{
    width: 400px;
    outline: 1px solid black;
}

.login__picture{
    width: 700px;
    height: 419px;
}

.login__registration{
    width: 40%;
    padding-top: 20px;
    padding-bottom: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid yellow;
    background-color: #ffffb4;
    color: black;

}

.login__registration:hover{
    border: 2px solid orange;
}

.login__title{
    font-size: 40px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 15px;
}

.error{
    color:red;
    padding-bottom: 15px;
    font-size: 30px;
}

.table{
    width: 80%;
}

.form__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}

.form__input{
    height: 40px;
    background-color: white;
    color: black;
    width: 75%;
    font-size: 25px;
}


.form__item:last-child{
    margin-bottom: 30px;
}


.button{
    display: block;
    height: 40px;
    width: 130px;
    background-color: orange;
    color: black;
    margin: 0 auto;
    font-size: 25px;
    cursor:pointer;
    margin-bottom: 15px;
    border-radius: 15px;
}

.button:hover{
    background-color: yellow;
    border: 1px solid orange;
    font-size: 26px;
}

.form__r{
    display: flex;
    text-align: center;
    justify-content: center;
}

.form__registration{
    text-decoration: none;
    list-style: none;

    height: 40px;
    width: 130px;

    color: black;
    margin: 0 auto;
    font-size: 25px;
}

.form__registration:hover {
    font-size: 26px;
}


/*MAIN MENU*/


.section__main{
    padding-bottom: 300px;
}


.main__menu-table{
    width: 70%;
    margin-bottom: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;

    color: #7C5FAB;
    font-size: 25px;
    text-align: center;
    border-collapse: collapse;
    background: #FEF4AB;
    margin: 0 auto;
}


.main__menu-table tbody{
    display: block;
    width: 100%;
    text-align: center;
}

.main__menu-table tr{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main__menu-table td{

    display: flex;
    align-items: center;
    justify-content: center;

    display: block;
    width: 100%;
    border-bottom: 1px solid orange;
    text-align: center;
}

.main__menu-item{
    display: block;
    width: 100%;
    text-align: center;
    list-style: none;
    text-decoration: none;
    font-size: 25px;
}

.main__menu-table tr:last-child td {
    border-bottom: none;
}


.main__menu-item:hover{
    font-size: 27px;
}




/*---------------------------------------------------------------------------*/

.table_dark {
    width: 70%;
    color: #7C5FAB;
    font-size: 40px;
    text-align: center;
    border-collapse: collapse;
    background: #FEF4AB;
    margin: auto;
    margin-bottom: 10px;
}
.table_dark th {
    color: #7C5FAB;
    border-bottom: 1px solid rgb(128, 128, 128);
    padding: 12px 17px;
    font-size: 14px;
}
.table_dark td {
    color: #7C5FAB;
    border-bottom: 1px solid rgb(128, 128, 128);
    border-right: 1px solid rgb(128, 128, 128);
    padding: 7px 17px;
    font-size: 14px;
}
.table_dark tr:last-child td {
    border-bottom: none;
}
.table_dark td:last-child {
    border-right: none;
}
.table_dark tr:hover td {
    text-decoration: underline;
}



